/*The starting point of text to animate*/

#animatedText.slider-nav-animation .slider-container .custom-animated-text {
    opacity: 0.25;
    font-size: 8vw;
    transform: scale(.25);
    transition: opacity 1.5s ease-in-out, transform .95s ease-in-out;
    transition-delay: .5s;
    text-align: center;
}

/*The end of animation*/
#animatedText.slider-nav-animation .slider-container .slide-visible .custom-animated-text {
    opacity: 1;
    transform: none;
}

#animatedText.slider-nav-animation #container1 img{
    height: 100%;
}

#image-text-container {
    background-color: rgba(0, 0, 0, 0.75);
}

#image-text {
    color: white;
}